# Salesforce
SALESFORCE_CLIENT_ID=
SALESFORCE_CLIENT_SECRET=
SALESFORCE_INSTANCE_URL=
SALESFORCE_TYPE_FIELD_API_NAME=Type

# HMAC
HMAC_SECRET=

# Upstash Redis
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
RATE_LIMIT_WINDOW_SECONDS=600
RATE_LIMIT_MAX_REQUESTS=10

# Encryption
MASTER_PRIVATE_KEY=

# reCAPTCHA
RECAPTCHA_EXPECTED_ACTION=submit
RECAPTCHA_MIN_SCORE=0.5
